includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/factories/
        - database/seeders/
        - routes/

    level: 6

    excludePaths:
        - app/Providers/TelescopeServiceProvider.php
